/* line 4, ../compass/sass/style.scss */
body {
  background-color: #ccc;
}
/* line 6, ../compass/sass/style.scss */
body #header-wrap {
  text-align: center;
  margin-bottom: 20px;
}
/* line 9, ../compass/sass/style.scss */
body #header-wrap .home-button {
  float: left;
}
/* line 12, ../compass/sass/style.scss */
body #header-wrap h1 {
  display: inline;
}
/* line 15, ../compass/sass/style.scss */
body #header-wrap .login-wrap {
  float: right;
}
/* line 20, ../compass/sass/style.scss */
body #main-content-wrap {
  background-color: white;
  width: 50%;
  margin-left: 20%;
  padding: 50px 5%;
}
/* line 28, ../compass/sass/style.scss */
body #bottom-links {
  text-align: center;
}
